
<header class="topbar" data-navbarbg="skin5">
<nav class="navbar top-navbar navbar-expand-md " >
<!-- <div class="navbar-header"
     data-logobg="skin5">
    <a class="navbar-brand"
       href="/">
        <b class="logo-icon2 ps-2" >
            Angular Practice
        </b>
    </a>
</div> -->
<div class="navbar-collapse collapse" 
     id="navbarSupportedContent"
     data-navbarbg="skin5">
    <ul class="navbar-nav float-start me-auto">
        <li class="nav-item d-none d-lg-block">
        </li>
    </ul>
    <ul class="navbar-nav float-end">
        <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle"
               (click)="logout()"
               id="navbarDropdown"
               role="button"
               data-bs-toggle="dropdown"
               aria-expanded="false">
                登出
            </a>
        </li>
    </ul>
</div>
</nav>
</header>