

.topbar {

    width: 100%;
    background-color: #444; /* Customize as needed */
    height: 56px; /* Adjust based on design */
}
.navbar {
    width: 100%;

}

.navbar-header{
  padding-left: 2%;
}

.navbar.navbar-header.navbar-collapse{
  background-color: #444;
  align-items: center;
  justify-content: center;
 
}


.navbar-header .navbar-brand .logo-icon
{
  background-color: #444;
  color: rgb(249, 249, 249);
width:100%;
  padding-right: 20px; 
  padding-top: 1%;
  justify-content: flex-start;
}


.navbar-nav.float-end .nav-item.dropdown .nav-link {
    color: rgb(255, 255, 255);
}

