
<div class="mzone">
    <div class="titleZone">
      TODO系統
    </div>
    <div>帳號：<input type="text" class="form-control" placeholder="帳號"[(ngModel)]="Username"></div>
    <div>密碼：<input type="password" class="form-control" placeholder="密碼" [(ngModel)]="Passwrod"></div>
    <button class="btn btn-success text-white mm" type="submit" (click)="login()">
      登入
    </button>
</div>