<aside class="left-sidebar"
       data-sidebarbg="skin5">
    <!-- Sidebar scroll-->
    <div class="scroll-sidebar">
        <!-- Sidebar navigation-->
        <div class="navbar-header"
        data-logobg="skin5">
       <a class="navbar-brand"
          href="/">
           <b class="logo-icon2 ps-2" >
               Angular Practice
           </b>
       </a>
   </div>
        <nav class="sidebar-nav" >
            <ul id="sidebarnav" 
                class="pt-4 in">
                <li class="sidebar-item"  routerLinkActive="selected" >
                    <a class="sidebar-link waves-effect waves-dark sidebar-link active"
                    [routerLink]="['home']"
                       aria-expanded="false"><i class="mdi mdi-view-dashboard" ></i><span
                              class="hide-menu" >首頁</span></a>
                </li>
                <li class="sidebar-item" routerLinkActive="selected">
                    <a class="sidebar-link waves-effect waves-dark sidebar-link active"
                    routerLink="/manage/todo"
                       aria-expanded="false"><i class="mdi mdi-view-dashboard"></i><span
                              class="hide-menu">Todo</span></a>
                </li>

                <li class="sidebar-item" routerLinkActive="selected">
                    <a class="sidebar-link waves-effect waves-dark sidebar-link active"
                    routerLink="/manage/account"
                       aria-expanded="false"><i class="mdi mdi-view-dashboard"></i><span
                              class="hide-menu">記帳</span></a>
                </li>
                <!-- <li class="sidebar-item" routerLinkActive="selected">
                    <a class="sidebar-link waves-effect waves-dark sidebar-link active"
                    href="/"
                       aria-expanded="false"><i class="mdi mdi-view-dashboard"></i><span
                              class="hide-menu">帳號管理</span></a>
                </li> -->
            </ul>
        </nav>
    </div>
</aside>        