.hide-menu{
    color: aliceblue;
}

.sidebar-item {
    margin-bottom: 40px; /* 設置項目之間的間距 */
    padding-left: 20%;
    align-items: center;
  }

.sidebar-item{
    color:aliceblue;
}
.navbar-header{
    background-color: #444;
    color: rgb(249, 249, 249);
    width:100%;
    padding-right: 20px; 
    padding-top: 1%;
    justify-content: flex-start;
}
.logo-icon2 {
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    width: 100%;
    padding-left: 20%;
    padding-top: 5%;

}

