html, body {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
}

#main-wrapper {
    position: relative; /* 确保子元素的绝对定位相对于它 */
    display: flex;
    flex-direction: column;
    min-height: 100vh; /* 最小高度占据整个视口 */
    width: 100%;
}

.content-wrapper {
    display: flex;
    flex: 1;
    overflow: hidden; /* 隐藏内容溢出 */
}
app-menu {
    font-size: 20px;
}

app-header {
    font-size: 20px;
}

app-menu {
    width: 250px; /* 调整 app-menu 的宽度 */
    background-color: #444; /* 根据需要自定义 */
    height: 100%; /* 高度占满父容器 */
    position: fixed; /* 固定在左侧 */
    top: 0;
    left: 0;
    bottom: 0;
    z-index: 1000; /* 确保在其他内容上层显示 */
    overflow-y: auto; /* 如果内容超出高度，显示滚动条 */

    /* top: 50px; */

}

.page-wrapper {
    flex: 1;
    margin-left: 250px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px; /* 根据需要调整内边距 */
    box-sizing: border-box;
    overflow: auto;
    height: 100%;

}


    /* RWD CSS */
    @media (max-width: 768px) {
        #main-wrapper {
          flex-direction: column;
        }
        app-menu {
          width: 100%;
          box-shadow: none;
          border-bottom: 1px solid #ddd;
        }
        .page-wrapper {
          padding: 10px;
        }
      }
  
      @media (max-width: 480px) {
        app-header {
          font-size: 18px;
          padding: 10px;

        }
        app-menu {
            display: none; /* 隐藏菜单 */
            width: 10px;
          }
          .page-wrapper {
            width: 300px; /* 让 page-wrapper 占满整个页面 */
            padding: 5px;
          }

        /* .page-wrapper {
          padding: 20px;
          width: 430px;
        } */
      }