
<section class="todoapp">

    <header class="header">
      <h1>{{title}}</h1>
      <input class="new-todo" 
        #todoInput 
        [(ngModel)]="inputItem"
        (keyup.enter)="AddItem()"  
        [placeholder]="placeholder" autofocus >
    </header>

    <section class="main" style="display: block;">
      <input id="toggle-all"  class="toggle-all" type="checkbox" [checked]="toogleall" (click)="selectAll()">
      <label for="toggle-all">Mark all as complete</label>
      <ul class="todo-list">

        <li *ngFor="let item of RefreshItem;let i = index" [class.completed]="item.status" 
              [class.smallText]="item.status"
              [class.editing]="item.Editing"
              > 
          <div class="view">
              <input class="toggle"  type="checkbox" [checked]="item.status" (click)="checked(item)"
              >
              <label class="itemlabel" (dblclick)="EditClick(item)" (click)="EditClick(item)" >{{item.thing}}</label>
              <button class="destory"  (click)="delete(item)" >x</button>
          </div>    
          <input #EditItem 
                *ngIf="item.Editing" class="edit" 
                [value] = "item.thing"
                [(ngModel)]="item.thing"
                (keyup.enter) = "updateItem(item)"
                (blur)="updateItem(item)"
                (mouseenter)="EditItem.focus()"
          />  
        </li>


       
        <!-- <li data-id="11111" [class.completed]="check1" [class.smallText]="check1"> 
          <div class="view">
            <input class="toggle"  type="checkbox" [checked]="check1" (click)="checked1()">
              <label >111</label>
              <button class="destory" ></button>
          </div>      
        </li>

        <li data-id="22222" [class]="{completed:check2, smallText:check2}"> 
         <div class="view">
            <input class="toggle"   type="checkbox" [checked]="check2" (click)="checked2()">
              <label >222</label>
              <button class="destory" ></button>
          </div>      
        </li> -->
    

      </ul>
    </section>

    <footer class="footer" style="display: block;">
      <span class="todo-count"><strong>{{getActive.length}}</strong>items left</span>
      <ul class="filters">
        <li>
          <!-- <a [class.selected]="todoStatusType===statusType.All" href="#/"
              (click)="setStatus(statusType.All)"
          >All</a> -->
          <a [class.selected]="todoStatusType===statusType.All" 
          (click)="setStatus(statusType.All)"
      >All</a>
        </li>
        <li>
          <!-- <a [class.selected]="todoStatusType===statusType.Active"  href="#/active" 
          (click)="setStatus(statusType.Active)"
          >Active</a> -->
          <a [class.selected]="todoStatusType===statusType.Active"  
          (click)="setStatus(statusType.Active)"
          >Active</a>

          
        </li>
        <li>
          <!-- <a [class.selected]="todoStatusType===statusType.Completed"  href="#/completed" 
          (click)="setStatus(statusType.Completed)"
          >Completed</a> -->
          <a [class.selected]="todoStatusType===statusType.Completed"   
          (click)="setStatus(statusType.Completed)"
          >Completed</a>
        </li>
        
      </ul>
      <button class="clear-completed" 
      (click)="ClearCompleted()"
      *ngIf="getCompleted.length"
      >Clear completed
      </button>
    </footer>
  </section>

