.smallText
{
    font-size: 20px;
}


.main{
    z-index:auto;
    width: 100%;
}
.todoapp{
    padding-right: 10PX;
    width: 800px;
    /* max-width: 550px; */
}
.view{
    display: flex; 
    align-items: center;
    justify-content: space-between;
}

.header h1 {
    white-space: nowrap; /* 防止文本换行 */
    overflow: hidden;    /* 隐藏溢出的内容 */
    text-overflow: ellipsis; /* 如果文本溢出，显示省略号 (...) */
    font-size: 80PX;
  }
.footer{
    height: 50px;
}
    /* RWD CSS */
    @media (max-width: 600px) {
        .header h1 {
          font-size: 20px;
        }
        .new-todo, .edit {
          font-size: 14px;
        }
        .footer {
          flex-direction: column;
          align-items: flex-start;
        }
        .filters {
          margin-top: 10px;
          justify-content: space-between;
          width: 100%;
        }
      }

