.container {
    /* max-width: 100%; */
    width: 856px;
    margin: 0 auto;
    padding: 20px;


  }

  .form-group
  {
    margin-bottom: 10%;
  }
  .formInput
  {
    align-items: center;
    padding-left: 30%;
    width: 500px;
  }
.btnAdd{
    float: right;
    
    background-color: #1db3b8;
    color: white;
    border: none;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    border-radius: 4px;
    align-items: center;
    margin-top: 8%;
    margin-bottom: 5%;
}

  table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
  }
  
  th, td {
    padding: 8px 12px;
    border: 1px solid #ddd;
  }
  
  th {
    background-color: #f4f4f4;
  }

  