<div class="container">
    <h2>記帳</h2>
    <form class="formInput" (ngSubmit)="addRecord()">
      <div class="form-group">
        <label for="description">描述</label>
        <input type="text" id="description" [(ngModel)]="description" name="description" class="form-control" required>
      </div>
      <div class="form-group">
        <label for="amount">金額</label>
        <input type="number" id="amount" [(ngModel)]="amount" name="amount" class="form-control" required>
      </div>
      <div class="form-group">
        <label for="date">日期和時間</label>
        <input type="date" id="date" [(ngModel)]="date" name="date" class="form-control" required>
      </div>
      <button type="submit"  class="btnAdd">新增記錄</button>
    </form>
    <table class="table table-striped">
        <thead>
          <tr>
            
            <th>描述</th>
            <th>金額 $</th>
            <th>時間</th>
            <th>刪除</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let record of records">
            <td>{{ record.description }}</td>
            <td>{{ record.cost }}</td>
            <td>{{ record.date}}</td>
            <td>
              <button (click)="deleteRecord(record.id)" class="btn btn-danger">刪除</button>
            </td>
          </tr>
        </tbody>
      </table>
      <div class="total-cost">
        <strong>總金額: {{ getTotalCost | currency:'TWD' }}</strong>
      </div>
  </div>